html {
    font-family: Arial, sans-serif;
    text-align: justify;

}

h2{
    font-size:smaller;
    font-weight: lighter;
}

textarea {
    width: 500px;
    height: 200px;

}

header {
    padding-left: 10%;
    padding-right: 10%;
}

section {
    padding-left: 10%;
    padding-right: 10%;
}

article {
    display: flex;
    flex-direction: column;
  }
  
  article > * {
    float: none;
    margin-top: 10px;
  }

button {
    max-width: 80px;
    height: 30px;
    background-color: rgb(28, 159, 65);
    border-style:hidden;
    color: white; 
    
    &:hover{
        font-weight: bold;
        transform: scale(1.1);
        transition: 0.1s;
    }
}

